{% extends 'layout.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block content %}

<div>
    <h1>Hello {{ controller_name }}! ✅</h1>
    <h2>Notre boutique</h2>   
</div>
<div>
    <h2>Nos derniers arrivants</h2>
</div>
<div>
    <h2>Faire un don</h2>
</div>
{% endblock %}
