{% extends 'base.html.twig' %}

{% block body %}
  <header>
    <nav>
      <ul>
        <li>Accueil</li>
        <li>se connecter</li>
        <li>Nos animaux</li>
        <li>Se deconnecter</li>
      </ul>
    </nav>
  </header>
  {% block content %}

  {% endblock %}
  <footer>
    <ul>
      <li>Infos</li>
      <li>Contacter</li>
      <li>Adresse</li>
    </ul>
  </footer>
{% endblock %}
